{% extends 'main.html' %}

{% block content %}

<h1>Name: {{ name }}</h1>
{% if age > 27 %}
    <h4>{{ name }} is older than 27.</h4>

{% elif age < 27 %}
    <h4>{{ name }} is younger than 27.</h4>

{% else %}
    <h4>{{ name }} is 27.</h4>

{% endif %}

<h1>Projects List</h1>
<hr>

{% if projectsList %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projectsList %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.title }} {% if project.topRated %} <strong>TOP RATED</strong> {% endif %}</td>
                    <td>{{ project.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </tab>
{% endif %}

{% endblock content %}